body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1159px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u814 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:520px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u815 {
  position:absolute;
  left:28px;
  top:96px;
  width:318px;
  height:520px;
}
#u816 {
  position:absolute;
  left:2px;
  top:252px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u817 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:14px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:15px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u818 {
  position:absolute;
  left:28px;
  top:96px;
  width:318px;
  height:14px;
}
#u819 {
  position:absolute;
  left:2px;
  top:-1px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:9px;
}
#u820 {
  position:absolute;
  left:291px;
  top:98px;
  width:10px;
  height:9px;
}
#u821 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u822 {
  position:absolute;
  left:305px;
  top:97px;
  width:10px;
  height:10px;
  font-size:7px;
}
#u823 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u824 {
  position:absolute;
  left:275px;
  top:97px;
  width:10px;
  height:10px;
}
#u825 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:10px;
}
#u826 {
  position:absolute;
  left:320px;
  top:97px;
  width:12px;
  height:10px;
}
#u827 {
  position:absolute;
  left:2px;
  top:-3px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u828 {
  position:absolute;
  left:36px;
  top:96px;
  width:36px;
  height:17px;
  color:#FFFFFF;
}
#u829 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FFFFFF;
}
#u830 {
  position:absolute;
  left:74px;
  top:97px;
  width:53px;
  height:15px;
  font-size:13px;
  color:#FFFFFF;
}
#u831 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u832 {
  position:absolute;
  left:150px;
  top:123px;
  width:74px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u833 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:24px;
}
#u834 {
  position:absolute;
  left:286px;
  top:122px;
  width:29px;
  height:24px;
}
#u835 {
  position:absolute;
  left:2px;
  top:4px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u836 {
  position:absolute;
  left:64px;
  top:122px;
  width:24px;
  height:24px;
}
#u837 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u838 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#999999;
}
#u839 {
  position:absolute;
  left:103px;
  top:178px;
  width:24px;
  height:24px;
  font-size:20px;
  color:#999999;
}
#u840 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#CCCCCC;
}
#u841 {
  position:absolute;
  left:98px;
  top:212px;
  width:32px;
  height:32px;
  font-size:28px;
  color:#CCCCCC;
}
#u842 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FF9933;
}
#u843 {
  position:absolute;
  left:94px;
  top:254px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#FF9933;
}
#u844 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u845 {
  position:absolute;
  left:145px;
  top:272px;
  width:15px;
  height:17px;
  color:#FFFFFF;
}
#u846 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#CCCCCC;
}
#u847 {
  position:absolute;
  left:99px;
  top:306px;
  width:32px;
  height:32px;
  font-size:28px;
  color:#CCCCCC;
}
#u848 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#999999;
}
#u849 {
  position:absolute;
  left:103px;
  top:348px;
  width:24px;
  height:24px;
  font-size:20px;
  color:#999999;
}
#u850 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u851 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#999999;
}
#u852 {
  position:absolute;
  left:223px;
  top:178px;
  width:24px;
  height:24px;
  font-size:20px;
  color:#999999;
}
#u853 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#CCCCCC;
}
#u854 {
  position:absolute;
  left:218px;
  top:212px;
  width:32px;
  height:32px;
  font-size:28px;
  color:#CCCCCC;
}
#u855 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FF9933;
}
#u856 {
  position:absolute;
  left:214px;
  top:254px;
  width:41px;
  height:42px;
  font-size:36px;
  color:#FF9933;
}
#u857 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u858 {
  position:absolute;
  left:265px;
  top:272px;
  width:15px;
  height:17px;
  color:#FFFFFF;
}
#u859 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#CCCCCC;
}
#u860 {
  position:absolute;
  left:219px;
  top:306px;
  width:32px;
  height:32px;
  font-size:28px;
  color:#CCCCCC;
}
#u861 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#999999;
}
#u862 {
  position:absolute;
  left:223px;
  top:348px;
  width:24px;
  height:24px;
  font-size:20px;
  color:#999999;
}
#u863 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u864 {
  position:absolute;
  left:126px;
  top:382px;
  width:122px;
  height:17px;
  color:#CCCCCC;
}
#u865 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u866 {
  position:absolute;
  left:28px;
  top:409px;
  width:318px;
  height:49px;
}
#u867 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  word-wrap:break-word;
}
#u868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:9px;
}
#u868 {
  position:absolute;
  left:299px;
  top:428px;
  width:13px;
  height:9px;
}
#u869 {
  position:absolute;
  left:2px;
  top:-4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u870 {
  position:absolute;
  left:28px;
  top:458px;
  width:318px;
  height:49px;
}
#u871 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  word-wrap:break-word;
}
#u872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:9px;
}
#u872 {
  position:absolute;
  left:299px;
  top:478px;
  width:13px;
  height:9px;
}
#u873 {
  position:absolute;
  left:2px;
  top:-4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u874 {
  position:absolute;
  left:28px;
  top:507px;
  width:318px;
  height:49px;
}
#u875 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  word-wrap:break-word;
}
#u876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:9px;
}
#u876 {
  position:absolute;
  left:299px;
  top:527px;
  width:13px;
  height:9px;
}
#u877 {
  position:absolute;
  left:2px;
  top:-4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u878 {
  position:absolute;
  left:28px;
  top:553px;
  width:318px;
  height:49px;
}
#u879 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  word-wrap:break-word;
}
#u880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:13px;
}
#u880 {
  position:absolute;
  left:299px;
  top:571px;
  width:10px;
  height:13px;
}
#u881 {
  position:absolute;
  left:2px;
  top:-2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u882 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:520px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u883 {
  position:absolute;
  left:452px;
  top:96px;
  width:318px;
  height:520px;
}
#u884 {
  position:absolute;
  left:2px;
  top:252px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u885 {
  position:absolute;
  left:571px;
  top:123px;
  width:80px;
  height:17px;
  font-size:18px;
  color:#FFFFFF;
}
#u886 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u887 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:14px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:15px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u888 {
  position:absolute;
  left:452px;
  top:96px;
  width:318px;
  height:14px;
}
#u889 {
  position:absolute;
  left:2px;
  top:-1px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:9px;
}
#u890 {
  position:absolute;
  left:715px;
  top:98px;
  width:10px;
  height:9px;
}
#u891 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u892 {
  position:absolute;
  left:729px;
  top:97px;
  width:10px;
  height:10px;
  font-size:7px;
}
#u893 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u894 {
  position:absolute;
  left:699px;
  top:97px;
  width:10px;
  height:10px;
}
#u895 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:10px;
}
#u896 {
  position:absolute;
  left:744px;
  top:97px;
  width:12px;
  height:10px;
}
#u897 {
  position:absolute;
  left:2px;
  top:-3px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u898 {
  position:absolute;
  left:460px;
  top:96px;
  width:36px;
  height:17px;
  color:#FFFFFF;
}
#u899 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FFFFFF;
}
#u900 {
  position:absolute;
  left:498px;
  top:97px;
  width:53px;
  height:15px;
  font-size:13px;
  color:#FFFFFF;
}
#u901 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:24px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u902 {
  position:absolute;
  left:452px;
  top:155px;
  width:318px;
  height:24px;
  color:#CCCCCC;
}
#u903 {
  position:absolute;
  left:2px;
  top:4px;
  width:314px;
  word-wrap:break-word;
}
#u904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u904 {
  position:absolute;
  left:475px;
  top:192px;
  width:66px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u905 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u906 {
  position:absolute;
  left:607px;
  top:195px;
  width:52px;
  height:17px;
  color:#FFFFFF;
}
#u907 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:24px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u908 {
  position:absolute;
  left:452px;
  top:224px;
  width:318px;
  height:24px;
  color:#CCCCCC;
}
#u909 {
  position:absolute;
  left:2px;
  top:4px;
  width:314px;
  word-wrap:break-word;
}
#u910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u910 {
  position:absolute;
  left:475px;
  top:258px;
  width:56px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u911 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u912 {
  position:absolute;
  left:475px;
  top:296px;
  width:111px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u913 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u914 {
  position:absolute;
  left:475px;
  top:338px;
  width:38px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u915 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u916 {
  position:absolute;
  left:475px;
  top:377px;
  width:38px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u917 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u918 {
  position:absolute;
  left:736px;
  top:195px;
  width:20px;
  height:17px;
}
#u919 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:24px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u920 {
  position:absolute;
  left:452px;
  top:413px;
  width:318px;
  height:24px;
  color:#CCCCCC;
}
#u921 {
  position:absolute;
  left:2px;
  top:4px;
  width:314px;
  word-wrap:break-word;
}
#u922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u922 {
  position:absolute;
  left:475px;
  top:447px;
  width:74px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u923 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u924 {
  position:absolute;
  left:475px;
  top:479px;
  width:74px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u925 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:13px;
}
#u926 {
  position:absolute;
  left:729px;
  top:452px;
  width:10px;
  height:13px;
}
#u927 {
  position:absolute;
  left:2px;
  top:-2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:13px;
}
#u928 {
  position:absolute;
  left:729px;
  top:484px;
  width:10px;
  height:13px;
}
#u929 {
  position:absolute;
  left:2px;
  top:-2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:24px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u930 {
  position:absolute;
  left:452px;
  top:507px;
  width:318px;
  height:24px;
  color:#CCCCCC;
}
#u931 {
  position:absolute;
  left:2px;
  top:4px;
  width:314px;
  word-wrap:break-word;
}
#u932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u932 {
  position:absolute;
  left:475px;
  top:541px;
  width:93px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u933 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u934 {
  position:absolute;
  left:475px;
  top:573px;
  width:74px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u935 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:24px;
}
#u936 {
  position:absolute;
  left:715px;
  top:540px;
  width:38px;
  height:24px;
}
#u937 {
  position:absolute;
  left:2px;
  top:4px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u938 {
  position:absolute;
  left:559px;
  top:584px;
  width:200px;
  height:1px;
  color:#FF9933;
}
#u939 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u940_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:19px;
  height:19px;
}
#u940 {
  position:absolute;
  left:642px;
  top:580px;
  width:9px;
  height:9px;
}
#u941 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:20px;
}
#u942 {
  position:absolute;
  left:475px;
  top:123px;
  width:10px;
  height:20px;
}
#u943 {
  position:absolute;
  left:2px;
  top:2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u944 {
  position:absolute;
  left:309px;
  top:578px;
  width:0px;
  height:0px;
}
#u944_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:135px;
  height:8px;
}
#u944_seg1 {
  position:absolute;
  left:127px;
  top:-226px;
  width:8px;
  height:230px;
}
#u944_seg2 {
  position:absolute;
  left:127px;
  top:-226px;
  width:16px;
  height:8px;
}
#u945 {
  position:absolute;
  left:81px;
  top:-60px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u946 {
  position:absolute;
  left:378px;
  top:584px;
  width:28px;
  height:30px;
}
#u947 {
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u948 {
  position:absolute;
  left:362px;
  top:614px;
  width:61px;
  height:50px;
}
#u949 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u950 {
  position:absolute;
  left:475px;
  top:133px;
  width:0px;
  height:0px;
}
#u950_seg0 {
  position:absolute;
  left:-119px;
  top:-4px;
  width:119px;
  height:8px;
}
#u950_seg1 {
  position:absolute;
  left:-119px;
  top:-4px;
  width:8px;
  height:231px;
}
#u950_seg2 {
  position:absolute;
  left:-129px;
  top:219px;
  width:18px;
  height:8px;
}
#u951 {
  position:absolute;
  left:-165px;
  top:53px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u952 {
  position:absolute;
  left:394px;
  top:155px;
  width:28px;
  height:30px;
}
#u953 {
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u954 {
  position:absolute;
  left:378px;
  top:185px;
  width:61px;
  height:50px;
}
#u955 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u956 {
  position:absolute;
  left:859px;
  top:96px;
  width:300px;
  height:520px;
}
#u956_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:520px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:519px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u957 {
  position:absolute;
  left:859px;
  top:97px;
  width:300px;
  height:519px;
}
#u958 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
