body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1607px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:520px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2722 {
  position:absolute;
  left:84px;
  top:96px;
  width:318px;
  height:520px;
}
#u2723 {
  position:absolute;
  left:2px;
  top:252px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:64px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2724 {
  position:absolute;
  left:84px;
  top:552px;
  width:317px;
  height:64px;
}
#u2725 {
  position:absolute;
  left:2px;
  top:24px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9933;
}
#u2726 {
  position:absolute;
  left:124px;
  top:128px;
  width:37px;
  height:36px;
  color:#FF9933;
}
#u2727 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2728 {
  position:absolute;
  left:320px;
  top:128px;
  width:37px;
  height:36px;
  color:#999999;
}
#u2729 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:30px;
}
#u2730 {
  position:absolute;
  left:229px;
  top:131px;
  width:27px;
  height:30px;
  color:#999999;
}
#u2731 {
  position:absolute;
  left:2px;
  top:7px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:24px;
}
#u2732 {
  position:absolute;
  left:102px;
  top:186px;
  width:26px;
  height:24px;
}
#u2733 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF9933;
}
#u2734 {
  position:absolute;
  left:138px;
  top:188px;
  width:84px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF9933;
}
#u2735 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u2736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2736 {
  position:absolute;
  left:84px;
  top:232px;
  width:318px;
  height:47px;
}
#u2737 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  word-wrap:break-word;
}
#u2738 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:14px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:15px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2739 {
  position:absolute;
  left:84px;
  top:96px;
  width:318px;
  height:14px;
}
#u2740 {
  position:absolute;
  left:2px;
  top:-1px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:9px;
}
#u2741 {
  position:absolute;
  left:347px;
  top:98px;
  width:10px;
  height:9px;
}
#u2742 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2743 {
  position:absolute;
  left:361px;
  top:97px;
  width:10px;
  height:10px;
  font-size:7px;
}
#u2744 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2745 {
  position:absolute;
  left:331px;
  top:97px;
  width:10px;
  height:10px;
}
#u2746 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:10px;
}
#u2747 {
  position:absolute;
  left:376px;
  top:97px;
  width:12px;
  height:10px;
}
#u2748 {
  position:absolute;
  left:2px;
  top:-3px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2749 {
  position:absolute;
  left:92px;
  top:96px;
  width:36px;
  height:17px;
  color:#FFFFFF;
}
#u2750 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u2751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FFFFFF;
}
#u2751 {
  position:absolute;
  left:130px;
  top:97px;
  width:53px;
  height:15px;
  font-size:13px;
  color:#FFFFFF;
}
#u2752 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:31px;
}
#u2753 {
  position:absolute;
  left:331px;
  top:240px;
  width:50px;
  height:31px;
  color:#00FF00;
}
#u2754 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2755 {
  position:absolute;
  left:84px;
  top:304px;
  width:318px;
  height:47px;
}
#u2756 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  word-wrap:break-word;
}
#u2757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:31px;
}
#u2757 {
  position:absolute;
  left:331px;
  top:312px;
  width:50px;
  height:31px;
  color:#00FF00;
}
#u2758 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2759 {
  position:absolute;
  left:84px;
  top:376px;
  width:318px;
  height:47px;
}
#u2760 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  word-wrap:break-word;
}
#u2761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:31px;
}
#u2761 {
  position:absolute;
  left:331px;
  top:384px;
  width:50px;
  height:31px;
}
#u2762 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2763_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2763 {
  position:absolute;
  left:127px;
  top:562px;
  width:30px;
  height:30px;
}
#u2764 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9933;
}
#u2765 {
  position:absolute;
  left:128px;
  top:592px;
  width:29px;
  height:17px;
  color:#FF9933;
}
#u2766 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2767 {
  position:absolute;
  left:228px;
  top:562px;
  width:30px;
  height:30px;
}
#u2768 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u2769 {
  position:absolute;
  left:229px;
  top:592px;
  width:29px;
  height:17px;
  color:#CCCCCC;
}
#u2770 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2771_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:11px;
}
#u2771 {
  position:absolute;
  left:324px;
  top:572px;
  width:33px;
  height:11px;
}
#u2772 {
  position:absolute;
  left:2px;
  top:-2px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2773_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u2773 {
  position:absolute;
  left:326px;
  top:592px;
  width:29px;
  height:17px;
  color:#CCCCCC;
}
#u2774 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:520px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2775 {
  position:absolute;
  left:513px;
  top:96px;
  width:318px;
  height:520px;
}
#u2776 {
  position:absolute;
  left:2px;
  top:252px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2777_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:64px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2777 {
  position:absolute;
  left:513px;
  top:552px;
  width:317px;
  height:64px;
}
#u2778 {
  position:absolute;
  left:2px;
  top:24px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2779 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2780_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:14px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:15px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2780 {
  position:absolute;
  left:513px;
  top:96px;
  width:318px;
  height:14px;
}
#u2781 {
  position:absolute;
  left:2px;
  top:-1px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2782_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:9px;
}
#u2782 {
  position:absolute;
  left:776px;
  top:98px;
  width:10px;
  height:9px;
}
#u2783 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2784_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2784 {
  position:absolute;
  left:790px;
  top:97px;
  width:10px;
  height:10px;
  font-size:7px;
}
#u2785 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2786_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2786 {
  position:absolute;
  left:760px;
  top:97px;
  width:10px;
  height:10px;
}
#u2787 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2788_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:10px;
}
#u2788 {
  position:absolute;
  left:805px;
  top:97px;
  width:12px;
  height:10px;
}
#u2789 {
  position:absolute;
  left:2px;
  top:-3px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2790_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2790 {
  position:absolute;
  left:521px;
  top:96px;
  width:36px;
  height:17px;
  color:#FFFFFF;
}
#u2791 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u2792_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FFFFFF;
}
#u2792 {
  position:absolute;
  left:559px;
  top:97px;
  width:53px;
  height:15px;
  font-size:13px;
  color:#FFFFFF;
}
#u2793 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2794_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2794 {
  position:absolute;
  left:556px;
  top:562px;
  width:30px;
  height:30px;
}
#u2795 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u2796 {
  position:absolute;
  left:557px;
  top:592px;
  width:29px;
  height:17px;
  color:#CCCCCC;
}
#u2797 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2798_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2798 {
  position:absolute;
  left:657px;
  top:562px;
  width:30px;
  height:30px;
}
#u2799 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2800_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u2800 {
  position:absolute;
  left:658px;
  top:592px;
  width:29px;
  height:17px;
  color:#CCCCCC;
}
#u2801 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2802_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:11px;
}
#u2802 {
  position:absolute;
  left:753px;
  top:572px;
  width:33px;
  height:11px;
}
#u2803 {
  position:absolute;
  left:2px;
  top:-2px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9933;
}
#u2804 {
  position:absolute;
  left:755px;
  top:592px;
  width:29px;
  height:17px;
  color:#FF9933;
}
#u2805 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u2806 {
  position:absolute;
  left:649px;
  top:132px;
  width:57px;
  height:32px;
  font-size:28px;
  color:#FFFFFF;
}
#u2807 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2808_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:49px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2808 {
  position:absolute;
  left:513px;
  top:182px;
  width:318px;
  height:49px;
}
#u2809 {
  position:absolute;
  left:2px;
  top:16px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2810 {
  position:absolute;
  left:541px;
  top:198px;
  width:57px;
  height:17px;
  color:#FFFFFF;
}
#u2811 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:49px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2812 {
  position:absolute;
  left:513px;
  top:231px;
  width:318px;
  height:49px;
}
#u2813 {
  position:absolute;
  left:2px;
  top:16px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2814 {
  position:absolute;
  left:541px;
  top:244px;
  width:85px;
  height:17px;
  color:#FFFFFF;
}
#u2815 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:13px;
}
#u2816 {
  position:absolute;
  left:805px;
  top:200px;
  width:10px;
  height:13px;
}
#u2817 {
  position:absolute;
  left:2px;
  top:-2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:13px;
}
#u2818 {
  position:absolute;
  left:805px;
  top:246px;
  width:10px;
  height:13px;
}
#u2819 {
  position:absolute;
  left:2px;
  top:-2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:49px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2820 {
  position:absolute;
  left:513px;
  top:280px;
  width:318px;
  height:49px;
}
#u2821 {
  position:absolute;
  left:2px;
  top:16px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2822 {
  position:absolute;
  left:541px;
  top:293px;
  width:57px;
  height:17px;
  color:#FFFFFF;
}
#u2823 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:13px;
}
#u2824 {
  position:absolute;
  left:805px;
  top:295px;
  width:10px;
  height:13px;
}
#u2825 {
  position:absolute;
  left:2px;
  top:-2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:520px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2826 {
  position:absolute;
  left:913px;
  top:96px;
  width:318px;
  height:520px;
}
#u2827 {
  position:absolute;
  left:2px;
  top:252px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2828 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:14px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:15px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2829 {
  position:absolute;
  left:913px;
  top:96px;
  width:318px;
  height:14px;
}
#u2830 {
  position:absolute;
  left:2px;
  top:-1px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:9px;
}
#u2831 {
  position:absolute;
  left:1176px;
  top:98px;
  width:10px;
  height:9px;
}
#u2832 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2833 {
  position:absolute;
  left:1190px;
  top:97px;
  width:10px;
  height:10px;
  font-size:7px;
}
#u2834 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2835 {
  position:absolute;
  left:1160px;
  top:97px;
  width:10px;
  height:10px;
}
#u2836 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:10px;
}
#u2837 {
  position:absolute;
  left:1205px;
  top:97px;
  width:12px;
  height:10px;
}
#u2838 {
  position:absolute;
  left:2px;
  top:-3px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2839 {
  position:absolute;
  left:921px;
  top:96px;
  width:36px;
  height:17px;
  color:#FFFFFF;
}
#u2840 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u2841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FFFFFF;
}
#u2841 {
  position:absolute;
  left:959px;
  top:97px;
  width:53px;
  height:15px;
  font-size:13px;
  color:#FFFFFF;
}
#u2842 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u2843 {
  position:absolute;
  left:1016px;
  top:132px;
  width:113px;
  height:32px;
  font-size:28px;
  color:#FFFFFF;
}
#u2844 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:49px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2845 {
  position:absolute;
  left:913px;
  top:182px;
  width:318px;
  height:49px;
}
#u2846 {
  position:absolute;
  left:2px;
  top:16px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2847 {
  position:absolute;
  left:941px;
  top:198px;
  width:57px;
  height:17px;
  color:#FFFFFF;
}
#u2848 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:49px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2849 {
  position:absolute;
  left:913px;
  top:231px;
  width:318px;
  height:49px;
}
#u2850 {
  position:absolute;
  left:2px;
  top:16px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2851 {
  position:absolute;
  left:941px;
  top:244px;
  width:57px;
  height:17px;
  color:#FFFFFF;
}
#u2852 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2853 {
  position:absolute;
  left:947px;
  top:136px;
  width:24px;
  height:24px;
}
#u2854 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
}
#u2855 {
  position:absolute;
  left:1184px;
  top:198px;
  width:31px;
  height:18px;
  color:#00FF00;
}
#u2856 {
  position:absolute;
  left:2px;
  top:1px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
}
#u2857 {
  position:absolute;
  left:1184px;
  top:244px;
  width:31px;
  height:18px;
  color:#00FF00;
}
#u2858 {
  position:absolute;
  left:2px;
  top:1px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2859 {
  position:absolute;
  left:1307px;
  top:96px;
  width:300px;
  height:520px;
}
#u2859_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:520px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:519px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2860 {
  position:absolute;
  left:1307px;
  top:97px;
  width:300px;
  height:519px;
}
#u2861 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u2862 {
  position:absolute;
  left:357px;
  top:578px;
  width:0px;
  height:0px;
}
#u2862_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:87px;
  height:8px;
}
#u2862_seg1 {
  position:absolute;
  left:79px;
  top:-226px;
  width:8px;
  height:230px;
}
#u2862_seg2 {
  position:absolute;
  left:79px;
  top:-226px;
  width:77px;
  height:8px;
}
#u2863 {
  position:absolute;
  left:33px;
  top:-114px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2864 {
  position:absolute;
  left:831px;
  top:207px;
  width:0px;
  height:0px;
}
#u2864_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:73px;
  height:8px;
}
#u2864_seg1 {
  position:absolute;
  left:65px;
  top:-4px;
  width:8px;
  height:157px;
}
#u2864_seg2 {
  position:absolute;
  left:65px;
  top:145px;
  width:17px;
  height:8px;
}
#u2865 {
  position:absolute;
  left:19px;
  top:38px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u2866 {
  position:absolute;
  left:457px;
  top:466px;
  width:28px;
  height:30px;
}
#u2867 {
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2868 {
  position:absolute;
  left:457px;
  top:496px;
  width:42px;
  height:28px;
}
#u2869 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u2870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u2870 {
  position:absolute;
  left:841px;
  top:240px;
  width:28px;
  height:30px;
}
#u2871 {
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2872 {
  position:absolute;
  left:841px;
  top:270px;
  width:42px;
  height:28px;
}
#u2873 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
