body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1159px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1070 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:520px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1071 {
  position:absolute;
  left:22px;
  top:86px;
  width:318px;
  height:520px;
}
#u1072 {
  position:absolute;
  left:2px;
  top:252px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1073 {
  position:absolute;
  left:141px;
  top:113px;
  width:80px;
  height:17px;
  font-size:18px;
  color:#FFFFFF;
}
#u1074 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u1075 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:14px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:15px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1076 {
  position:absolute;
  left:22px;
  top:86px;
  width:318px;
  height:14px;
}
#u1077 {
  position:absolute;
  left:2px;
  top:-1px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:9px;
}
#u1078 {
  position:absolute;
  left:285px;
  top:88px;
  width:10px;
  height:9px;
}
#u1079 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1080 {
  position:absolute;
  left:299px;
  top:87px;
  width:10px;
  height:10px;
  font-size:7px;
}
#u1081 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1082 {
  position:absolute;
  left:269px;
  top:87px;
  width:10px;
  height:10px;
}
#u1083 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:10px;
}
#u1084 {
  position:absolute;
  left:314px;
  top:87px;
  width:12px;
  height:10px;
}
#u1085 {
  position:absolute;
  left:2px;
  top:-3px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1086 {
  position:absolute;
  left:30px;
  top:86px;
  width:36px;
  height:17px;
  color:#FFFFFF;
}
#u1087 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u1088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FFFFFF;
}
#u1088 {
  position:absolute;
  left:68px;
  top:87px;
  width:53px;
  height:15px;
  font-size:13px;
  color:#FFFFFF;
}
#u1089 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:24px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u1090 {
  position:absolute;
  left:22px;
  top:145px;
  width:318px;
  height:24px;
  color:#CCCCCC;
}
#u1091 {
  position:absolute;
  left:2px;
  top:4px;
  width:314px;
  word-wrap:break-word;
}
#u1092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1092 {
  position:absolute;
  left:45px;
  top:182px;
  width:66px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u1093 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1094 {
  position:absolute;
  left:177px;
  top:185px;
  width:52px;
  height:17px;
  color:#FFFFFF;
}
#u1095 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u1096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:24px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u1096 {
  position:absolute;
  left:22px;
  top:214px;
  width:318px;
  height:24px;
  color:#CCCCCC;
}
#u1097 {
  position:absolute;
  left:2px;
  top:4px;
  width:314px;
  word-wrap:break-word;
}
#u1098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1098 {
  position:absolute;
  left:45px;
  top:248px;
  width:56px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u1099 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u1100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1100 {
  position:absolute;
  left:45px;
  top:286px;
  width:111px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u1101 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u1102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1102 {
  position:absolute;
  left:45px;
  top:328px;
  width:38px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u1103 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u1104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1104 {
  position:absolute;
  left:45px;
  top:367px;
  width:38px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u1105 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u1106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u1106 {
  position:absolute;
  left:306px;
  top:185px;
  width:20px;
  height:17px;
}
#u1107 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:24px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u1108 {
  position:absolute;
  left:22px;
  top:403px;
  width:318px;
  height:24px;
  color:#CCCCCC;
}
#u1109 {
  position:absolute;
  left:2px;
  top:4px;
  width:314px;
  word-wrap:break-word;
}
#u1110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1110 {
  position:absolute;
  left:45px;
  top:437px;
  width:74px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u1111 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u1112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1112 {
  position:absolute;
  left:45px;
  top:469px;
  width:74px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u1113 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u1114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:13px;
}
#u1114 {
  position:absolute;
  left:299px;
  top:442px;
  width:10px;
  height:13px;
}
#u1115 {
  position:absolute;
  left:2px;
  top:-2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:13px;
}
#u1116 {
  position:absolute;
  left:299px;
  top:474px;
  width:10px;
  height:13px;
}
#u1117 {
  position:absolute;
  left:2px;
  top:-2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:24px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u1118 {
  position:absolute;
  left:22px;
  top:497px;
  width:318px;
  height:24px;
  color:#CCCCCC;
}
#u1119 {
  position:absolute;
  left:2px;
  top:4px;
  width:314px;
  word-wrap:break-word;
}
#u1120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1120 {
  position:absolute;
  left:45px;
  top:531px;
  width:93px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u1121 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u1122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1122 {
  position:absolute;
  left:45px;
  top:563px;
  width:74px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u1123 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u1124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:24px;
}
#u1124 {
  position:absolute;
  left:285px;
  top:530px;
  width:38px;
  height:24px;
}
#u1125 {
  position:absolute;
  left:2px;
  top:4px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1126 {
  position:absolute;
  left:129px;
  top:574px;
  width:200px;
  height:1px;
  color:#FF9933;
}
#u1127 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1128_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:19px;
  height:19px;
}
#u1128 {
  position:absolute;
  left:212px;
  top:570px;
  width:9px;
  height:9px;
}
#u1129 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1130 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:520px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1131 {
  position:absolute;
  left:484px;
  top:86px;
  width:318px;
  height:520px;
}
#u1132 {
  position:absolute;
  left:2px;
  top:252px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1133 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:14px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:15px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1134 {
  position:absolute;
  left:484px;
  top:86px;
  width:318px;
  height:14px;
}
#u1135 {
  position:absolute;
  left:2px;
  top:-1px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:9px;
}
#u1136 {
  position:absolute;
  left:747px;
  top:88px;
  width:10px;
  height:9px;
}
#u1137 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1138 {
  position:absolute;
  left:761px;
  top:87px;
  width:10px;
  height:10px;
  font-size:7px;
}
#u1139 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1140 {
  position:absolute;
  left:731px;
  top:87px;
  width:10px;
  height:10px;
}
#u1141 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:10px;
}
#u1142 {
  position:absolute;
  left:776px;
  top:87px;
  width:12px;
  height:10px;
}
#u1143 {
  position:absolute;
  left:2px;
  top:-3px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1144 {
  position:absolute;
  left:492px;
  top:86px;
  width:36px;
  height:17px;
  color:#FFFFFF;
}
#u1145 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u1146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FFFFFF;
}
#u1146 {
  position:absolute;
  left:530px;
  top:87px;
  width:53px;
  height:15px;
  font-size:13px;
  color:#FFFFFF;
}
#u1147 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1148 {
  position:absolute;
  left:606px;
  top:113px;
  width:74px;
  height:17px;
  font-size:18px;
  color:#FFFFFF;
}
#u1149 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u1150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:20px;
}
#u1150 {
  position:absolute;
  left:518px;
  top:113px;
  width:10px;
  height:20px;
}
#u1151 {
  position:absolute;
  left:2px;
  top:2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1152 {
  position:absolute;
  left:493px;
  top:145px;
  width:300px;
  height:25px;
}
#u1152_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#999999;
}
#u1153 {
  position:absolute;
  left:583px;
  top:334px;
  width:121px;
  height:24px;
  font-size:20px;
  color:#999999;
}
#u1154 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u1155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 153, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1155 {
  position:absolute;
  left:731px;
  top:145px;
  width:62px;
  height:25px;
}
#u1156 {
  position:absolute;
  left:2px;
  top:5px;
  width:58px;
  word-wrap:break-word;
}
#u1157 {
  position:absolute;
  left:309px;
  top:481px;
  width:0px;
  height:0px;
}
#u1157_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:165px;
  height:8px;
}
#u1157_seg1 {
  position:absolute;
  left:157px;
  top:-139px;
  width:8px;
  height:143px;
}
#u1157_seg2 {
  position:absolute;
  left:157px;
  top:-139px;
  width:18px;
  height:8px;
}
#u1158 {
  position:absolute;
  left:105px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1159 {
  position:absolute;
  left:518px;
  top:123px;
  width:0px;
  height:0px;
}
#u1159_seg0 {
  position:absolute;
  left:-172px;
  top:-4px;
  width:172px;
  height:8px;
}
#u1159_seg1 {
  position:absolute;
  left:-172px;
  top:-4px;
  width:8px;
  height:231px;
}
#u1159_seg2 {
  position:absolute;
  left:-178px;
  top:219px;
  width:14px;
  height:8px;
}
#u1160 {
  position:absolute;
  left:-218px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u1161 {
  position:absolute;
  left:405px;
  top:142px;
  width:28px;
  height:30px;
}
#u1162 {
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1163 {
  position:absolute;
  left:389px;
  top:172px;
  width:61px;
  height:50px;
}
#u1164 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u1165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u1165 {
  position:absolute;
  left:399px;
  top:497px;
  width:28px;
  height:30px;
}
#u1166 {
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1167 {
  position:absolute;
  left:399px;
  top:537px;
  width:61px;
  height:50px;
}
#u1168 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u1169 {
  position:absolute;
  left:859px;
  top:96px;
  width:300px;
  height:520px;
}
#u1169_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:520px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:519px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1170 {
  position:absolute;
  left:859px;
  top:97px;
  width:300px;
  height:519px;
}
#u1171 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
